*,
*::after,
*::before {
  /* 
    Variables
  */
  --base-font-size: 1rem;
  --gray: #4c6174;
  --gray1: #a1a8af;
  --blue: #1761aa;
  --word-spacing: 0.6rem;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: var(--base-font-size);
}

h1 {
  font-size: calc(var(--base-font-size) * 3.8);
}
h2 {
  font-size: calc(var(--base-font-size) * 3.5);
}
h3 {
  font-size: calc(var(--base-font-size) * 2.8);
}
h4 {
  font-size: calc(var(--base-font-size) * 2.2);
}
h5 {
  font-size: calc(var(--base-font-size) * 1.7);
}
h6 {
  font-size: calc(var(--base-font-size) * 1.3);
}

.container-app {
  padding: 4rem 15%;
}

header .title-sub {
  font-weight: 400;
}
.seperator {
  width: calc(var(--base-font-size) * 3);
  height: 0;
  color: var(--gray);
  border-top: 0.45rem dotted var(--gray);
}

.section-metrics {
  display: flex;
  gap: 2rem;
  padding: 3em 3em;
}
.metric {
  text-align: center;
  border: 1px solid var(--gray);
  padding: 1.5em;
  border-radius: 2rem;
  width: 7em;
}

.input-area {
  /* border: 1px solid salmon; */
  box-shadow: 0 0 0.7rem -0.4rem var(--gray);
  height: 5rem;
  display: flex;
  padding: 1rem 0;
  align-items: center;
  overflow: hidden;
}

.input-area * {
  text-align: right;
  font-size: 2.2rem;
  font-family: "Inconsolata";
  width: 100%;
  display: inline;
}

.untyped {
  max-width: 50%;
  min-width: 50%;
}
.word {
  padding-right: 0.5em;
}
.typed {
  min-width: 2rem;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}
.typed .word {
  color: var(--gray1);
  padding-left: 0.5em;
  padding-right: 0;
}

.wrong {
  text-decoration: line-through;
}

#typing {
  outline: none;
  border: none;
  color: var(--blue);
}
