:root {
  /* 
    Variables
  */
  --base-font-size: 1rem; 

  --red: #b30439;
  --blue-black: #1e2e4b;
  --green: #01743e;
  --yellow: #ffb109;

  --white1: #e4e4e4;
  --gray1: #9c9fa1;
  --dark1: #2f3741;

  --word-spacing: 0.6em;
}
:root.dark-mode {
  /* 
    Variables
  */
  --base-font-size: 1rem; 

  --red: #b30439;
  --blue-black: #0c50ce;
  --green: #01743e;
  --yellow: #ffb109;
 
  --white1: #2f3741;

  --gray1: #9c9fa1; 
 
  --dark1: #e4e4e4;

}

*{
  

  font-family: "montserrat", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--white1);
}

.hidden {
  display: none;
}

.container {
  max-width: 90rem;
  padding: 2rem 10%;
  display: grid;
  justify-items: center;
}

header {
  padding: 2rem;
  width: max-content;
}
header h6 {
  font-size: 1.2rem;
  letter-spacing: 0.2em;
  font-weight: 500;
  text-transform: lowercase;
  text-decoration: underline;
  text-decoration-style: dashed;
  text-underline-offset: 5px;
  text-decoration-color: var(--red);
}

header h2 {
  font-size: 3.9rem;
  font-weight: 500;
  font-family: "PT serif";
  color: var(--blue-black)
}

.section-metrics {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;
}
.metric {
  text-align: center;
  padding: 0 2.5rem;
}
.metric:not(.metric:first-child) {
  border-left: 2px solid var(--blue-black);
}
.metric-value {
  font-size: 2.3rem;
  color: #2f3741
}
.metric-unit {
  font-size: 1.1rem;
  font-weight: 500;
}

.container-input-area{
  position: relative;
  width: 100%;
  padding: 0 0.4rem;
  overflow: hidden;
  height: max-content;
}
.input-area {
    display: grid;
    grid-template-columns: 1fr auto 50%;
    font-size: 2rem;
    overflow: hidden;
    margin: 5rem 0; 
    width: 100%;
    box-shadow: 0 0 13px -5px var(--dark1);
    padding: 2rem 0 ;
    border-radius: 3px;
    font-family: "inconsolata Expanded";
}
.word {
  font-family: "inconsolata Expanded";
}
.input-area .typed { 
  display: flex;
  align-items: center;
  gap: var(--word-spacing);
  justify-content: flex-end;
  color: var(--gray1); 
  min-width: 3rem;
} 
#typing {
  font: inherit;
  text-align: right;
  color: #324b7a;
  background-color: transparent;
  border: none;
  outline: none;
}
#typing.wrong {
  text-decoration-color: var(--red);
}
@keyframes hang {
  0%{
    top: 5%;
  }
  50%{
    top: 15%;
  }
  to{
   top: 5%;
  }
}
.input-indicator {
  position: absolute;
  font-size: 1rem;
  font-weight:  600;
  background-color: var(--yellow);
  padding: 0.8em 1.2em;
  left: 41%;
  animation-name: hang; 
  animation-duration: 1.5s;
  animation-iteration-count: infinite; 
}
.input-indicator::before{
  content: "";
  position: absolute;
  /* border: 1px solid salmon;  */
  border-top-left-radius: 5rem;
  width: 1.22rem;
  height: 1.22rem;
  left: 47%;
  bottom: -0.5em;
  background-color: var(--yellow);
  transform: rotate(45deg);
}

.input-area .untyped {
  max-width: 48%;
  display: flex;
  align-items: center;
  gap: var(--word-spacing);
} 

.wrong {
  text-decoration: line-through;
}

.hidden {
  display: none !important;
}

.outro-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0e17256c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.outro-background section{
  width: 50%;
  height: 60%;
  display: grid;
  background-color: #2f3741;
  color: #e7e7e7;
  grid-template-rows: 1fr 5rem;
  border-radius: 4px;
  padding: 2em 5em;
}
.outro-background section .results {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.result .value {
  font-size: 5rem;
  font-weight: 600;
}
.result .unit {
  font-weight: 500;
  font-size: 1.3rem;
}

.outro-background .btn{
  width: max-content;
  height: max-content;
  padding: 0.8em 1.2em;
  border: 0;
  border-radius: 3px;
  background-color: #01743e;
  font-size: 1.2rem;
  font-weight: 600;
  color: #ebebeb;
  justify-self: end; 
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}